In [1]:
# os : operating system dependent functionality. Portable access to operating system specific features. 
# glob : Filename pattern matching
# subprocess : Work with additional processes
# math : 
# gc : garbage collector
# csv : Read and write comma separated value files.
import os, glob, subprocess, math, gc, csv, mysql.connector
import pandas as pd
import numpy as np
import datetime as dt

# Connection setup to MySQL or Sqlite
from sqlalchemy import create_engine

path = 'C:/Data/csv'

In [2]:
os.chdir(path)   # Change the working directory.
os.listdir(path) # Show the whole file names in the working directory
#glob.glob('*.csv')

['.41cf111c-ad9f-11e6-97ed-b888e399ba45',
 'nyc311calls.csv',
 'nyc311calls_small.csv',
 'nyc311calls_small.db',
 'nyc_odo.db']

# Functions in use

In [3]:
def csv_part(file, row_limit=1000, output_name_template='test.csv', delimiter=',', output_path='.', keep_headers=True):
    """
    Read the number of row you want in the output file. 
    Usage: csv_part(input_file, row_number, outpult_file)
    """
    import csv
    
    reader = csv.reader(open(file, 'r'), delimiter=delimiter)
    current_out_path = os.path.join(output_path, output_name_template)
    current_out_writer = csv.writer(open(current_out_path, 'w'), delimiter=delimiter)
    for i, row in enumerate(reader):
        if i <= row_limit:
            current_out_writer.writerow(row)
        else:
            break
        
def human_size(nbytes):
    """
    Give the file size in the working directory.
    """
    import math
    suffixes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB']
    rank = int((math.log10(nbytes)) / 3)
    rank = min(rank, len(suffixes) - 1)
    human = nbytes / (1024.0 ** rank)
    f = ('%.2f' % human).rstrip('0').rstrip('.')
    return '%s %s' % (f, suffixes[rank])

def row_number(file):
    """
    Get the line number of each file.
    """
    line_out = subprocess.check_output('find /v /c "" '+ file, shell=True);# read line number with Windows command
    line_string = line_out.decode("utf-8"); # change data type from byte to string 
    print(line_string)
    line_count = int(line_string.split()[-1])
    return line_count
                
if __name__ == "__main__":
    file_names = glob.glob('*.csv')

# 1. Read the small portion of data from the csv file.

In [5]:
# Get the row number of the file.
start = dt.datetime.now()
row_total =[]
for file in file_names:
    x = row_number(file)
    row_total.append(x)

print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

---------- NYC311CALLS.CSV: 11145686

65 seconds: completed

In [6]:
lines = 500000                     # Do not go over 1000000 (Million) lines,
start = dt.datetime.now()
output = 'nyc311calls_small.csv'   # the output file's name
csv_part(file_names[0], lines, output)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

33 seconds: completed

## 1.1 Comparison between the small data and the original data

In [7]:
small_data = pd.read_csv(output, nrows = 5)
#small_data.head(3)
small_data.tail(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
2,19816438,02/12/2011 12:00:00 AM,02/16/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11212,1068 WINTHROP STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.661267,-73.924204,"(40.66126734932739, -73.92420394711726)"
3,19816439,02/11/2011 12:00:00 AM,02/14/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,SMOKE-FUMES,RESIDENTIAL BUILDING,10474,846 HUNTS POINT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817563,-73.888526,"(40.8175629801979, -73.88852631695842)"
4,19816440,02/11/2011 12:00:00 AM,02/28/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,CONSTRUCTION,ROOF,RESIDENTIAL BUILDING,11216,1480 BEDFORD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672573,-73.954394,"(40.67257255181025, -73.95439353624742)"

In [8]:
big_data = pd.read_csv(file_names[0], nrows = 5)
#small_data.head(3)
big_data.tail(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
2,19816438,02/12/2011 12:00:00 AM,02/16/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11212,1068 WINTHROP STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.661267,-73.924204,"(40.66126734932739, -73.92420394711726)"
3,19816439,02/11/2011 12:00:00 AM,02/14/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,SMOKE-FUMES,RESIDENTIAL BUILDING,10474,846 HUNTS POINT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817563,-73.888526,"(40.8175629801979, -73.88852631695842)"
4,19816440,02/11/2011 12:00:00 AM,02/28/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,CONSTRUCTION,ROOF,RESIDENTIAL BUILDING,11216,1480 BEDFORD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672573,-73.954394,"(40.67257255181025, -73.95439353624742)"

In [9]:
del small_data, big_data

# 2. Check the column separator and the delimiter in data files

In [3]:
file_names = glob.glob('*.csv')  # Now read the original file and small portion file
for file in file_names:
    with open(file) as fp:
        print('%s : ' %file, fp.readlines(1000), '\n')
    fp.close()

nyc311calls.csv :  ['Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Description,Resolution Action Updated Date,Community Board,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Park Facility Name,Park Borough,School Name,School Number,School Region,School Code,School Phone Number,School Address,School City,School State,School Zip,School Not Found,School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location\n', '19816436,02/11/2011 12:00:00 AM,02/12/2011 12:00:00 AM,HPD,Department of Housing Preservation and Development,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,10029,1747 LEXINGTON AVENUE,LEXINGTON AVENUE,EAST 108 STREET,EAST 109 STREET,,,ADDRESS,NEW YORK,,N/A,Closed,,"The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists, please file a new complaint.",02/12/2011 12:00:00 AM,0 Unspecified,Unspecified,999459,228514,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,,,,,,,,,,,,,40.793881125121544,-73.94507211811336,"(40.793881125121544, -73.94507211811336)"\n']

nyc311calls_small.csv :  ['Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Description,Resolution Action Updated Date,Community Board,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Park Facility Name,Park Borough,School Name,School Number,School Region,School Code,School Phone Number,School Address,School City,School State,School Zip,School Not Found,School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location\n', '\n', '19816436,02/11/2011 12:00:00 AM,02/12/2011 12:00:00 AM,HPD,Department of Housing Preservation and Development,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,10029,1747 LEXINGTON AVENUE,LEXINGTON AVENUE,EAST 108 STREET,EAST 109 STREET,,,ADDRESS,NEW YORK,,N/A,Closed,,"The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists, please file a new complaint.",02/12/2011 12:00:00 AM,0 Unspecified,Unspecified,999459,228514,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,,,,,,,,,,,,,40.793881125121544,-73.94507211811336,"(40.793881125121544, -73.94507211811336)"\n']

In [12]:
#os.stat(path + r'\201501-citibike-tripdata.csv').st_size   # in bytes
#os.stat(path + r'\201501-citibike-tripdata.csv')           # get the file information
for file in file_names:
    file_size = os.path.getsize(path + '/' + file)   #in bytes
    print('File size of %s =' %file, human_size(file_size))

File size of nyc311calls.csv = 6.51 GB
File size of nyc311calls_small.csv = 337.47 MB

What we know: 
* <b>A column separator = ',' (comma)</b>.
* <b>A delimiter = '\n'</b>.
* <b>There are many empty fields in each row</b>.
* <b>There are 'N/A' and 'Unspecified' records</b>.

## 2.1. Get the line number of the small file.

In [17]:
row_total =[]
for file in file_names[1:]:
    x = row_number(file)
    row_total.append(x)
print("Row number of records (except column name's row) = ", sum(row_total)-len(file_names)+1)

---------- NYC311CALLS_SMALL.CSV: 500001

Row number of records (except column name's row) =  500000

# 3. Check missing fields (empty strings, ' ') in a csv file

In [19]:
start = dt.datetime.now()
for file in file_names[1:]:
    with open(file, 'r') as csvfile:
        csvreader = csv.reader(csvfile)
        i = 0
        for row in csvreader:
            #print(row)
            if any(val in (None, "") for val in row):
                i += 1
        print("%s : Row number of Empty String = " %file, i)
        csvfile.close()
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

nyc311calls_small.csv : Row number of Empty String =  500000
15 seconds: completed

## 4. Check NULL records in each column.
Empty strings = "NaN" in pandas

In [22]:
df = pd.read_csv(file_names[1], nrows=5)
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,19816436,02/11/2011 12:00:00 AM,02/12/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,10029,1747 LEXINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.793881,-73.945072,"(40.793881125121544, -73.94507211811336)"
1,19816437,02/11/2011 12:00:00 AM,03/04/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11218,200 EAST 8 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.645375,-73.972001,"(40.64537466770449, -73.97200080893171)"
2,19816438,02/12/2011 12:00:00 AM,02/16/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11212,1068 WINTHROP STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.661267,-73.924204,"(40.66126734932739, -73.92420394711726)"
3,19816439,02/11/2011 12:00:00 AM,02/14/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,SMOKE-FUMES,RESIDENTIAL BUILDING,10474,846 HUNTS POINT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817563,-73.888526,"(40.8175629801979, -73.88852631695842)"
4,19816440,02/11/2011 12:00:00 AM,02/28/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,CONSTRUCTION,ROOF,RESIDENTIAL BUILDING,11216,1480 BEDFORD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672573,-73.954394,"(40.67257255181025, -73.95439353624742)"

## 4.1. Get the number of NaN records in each column of the small file.

In [26]:
start = dt.datetime.now()
for file in file_names[1:]:
    df = pd.read_csv(file, nrows=2)
    for col in df.columns:
        data = pd.read_csv(file, usecols=[col], low_memory = False)
        nul_number = data.isnull().values.sum()
        if nul_number != 0: 
            print('%s: NaN records of the column [%s] = ' %(file, col), nul_number)
            print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

del df, data, nul_number

nyc311calls_small.csv: NULL records of the column [Closed Date] =  105856
12 seconds: completed
nyc311calls_small.csv: NULL records of the column [Descriptor] =  2376
27 seconds: completed
nyc311calls_small.csv: NULL records of the column [Location Type] =  17329
31 seconds: completed
nyc311calls_small.csv: NULL records of the column [Incident Zip] =  5521
34 seconds: completed
nyc311calls_small.csv: NULL records of the column [Incident Address] =  64054
38 seconds: completed
nyc311calls_small.csv: NULL records of the column [Street Name] =  64108
42 seconds: completed
nyc311calls_small.csv: NULL records of the column [Cross Street 1] =  63162
46 seconds: completed
nyc311calls_small.csv: NULL records of the column [Cross Street 2] =  63423
50 seconds: completed
nyc311calls_small.csv: NULL records of the column [Intersection Street 1] =  448478
54 seconds: completed
nyc311calls_small.csv: NULL records of the column [Intersection Street 2] =  448468
58 seconds: completed
nyc311calls_small.csv: NULL records of the column [Address Type] =  15553
62 seconds: completed
nyc311calls_small.csv: NULL records of the column [City] =  5172
66 seconds: completed
nyc311calls_small.csv: NULL records of the column [Landmark] =  499333
70 seconds: completed
nyc311calls_small.csv: NULL records of the column [Facility Type] =  417586
74 seconds: completed
nyc311calls_small.csv: NULL records of the column [Due Date] =  284359
81 seconds: completed
nyc311calls_small.csv: NULL records of the column [Resolution Description] =  1795
86 seconds: completed
nyc311calls_small.csv: NULL records of the column [Resolution Action Updated Date] =  2584
90 seconds: completed
nyc311calls_small.csv: NULL records of the column [X Coordinate (State Plane)] =  10979
101 seconds: completed
nyc311calls_small.csv: NULL records of the column [Y Coordinate (State Plane)] =  10979
105 seconds: completed
nyc311calls_small.csv: NULL records of the column [School Number] =  190
121 seconds: completed
nyc311calls_small.csv: NULL records of the column [School Region] =  5413
125 seconds: completed
nyc311calls_small.csv: NULL records of the column [School Code] =  5413
128 seconds: completed
nyc311calls_small.csv: NULL records of the column [School Address] =  1
136 seconds: completed
nyc311calls_small.csv: NULL records of the column [School Not Found] =  286510
152 seconds: completed
nyc311calls_small.csv: NULL records of the column [School or Citywide Complaint] =  499296
156 seconds: completed
nyc311calls_small.csv: NULL records of the column [Vehicle Type] =  498942
160 seconds: completed
nyc311calls_small.csv: NULL records of the column [Taxi Company Borough] =  499018
164 seconds: completed
nyc311calls_small.csv: NULL records of the column [Taxi Pick Up Location] =  491471
168 seconds: completed
nyc311calls_small.csv: NULL records of the column [Bridge Highway Name] =  496976
172 seconds: completed
nyc311calls_small.csv: NULL records of the column [Bridge Highway Direction] =  496984
176 seconds: completed
nyc311calls_small.csv: NULL records of the column [Road Ramp] =  497005
180 seconds: completed
nyc311calls_small.csv: NULL records of the column [Bridge Highway Segment] =  497013
184 seconds: completed
nyc311calls_small.csv: NULL records of the column [Garage Lot Name] =  499503
188 seconds: completed
nyc311calls_small.csv: NULL records of the column [Ferry Direction] =  499766
193 seconds: completed
nyc311calls_small.csv: NULL records of the column [Ferry Terminal Name] =  499517
197 seconds: completed
nyc311calls_small.csv: NULL records of the column [Latitude] =  10979
201 seconds: completed
nyc311calls_small.csv: NULL records of the column [Longitude] =  10979
205 seconds: completed
nyc311calls_small.csv: NULL records of the column [Location] =  10979
210 seconds: completed

### 4.1 Garbage Collector to release unreferenced memory
gc.collect() returns the number of objects it has collected and deallocated. 
<b>Recommendation</b>
* Do not run garbage collection too freely, as it can take considerable time to evaluate every memory object within a large system. For example, one team having memory issues tried calling gc.collect() between every step of a complex start-up process, increasing the boot time by 20 times (2000%). Running it more than a few times per day - without specific design reasons - is likely a waste of device resources.
* Run manual garbage collection after your application has completed start up and moves into steady-state operation. This frees potentially huge blocks of memory used to open and parse file, to build and modify object lists, and even code modules never to be used again. For example, one application reading XML configuration files was consuming about 1.5MB of temporary memory during the process. Without manual garbage collection, there is no way to predict when that 1.5MB of memory will be returned to the python memory pools for reuse.
* Run manual garbage collection after infrequently run sections of code which use and then free large blocks of memory. For example, consider running garbage collection after a once-per-day task which evaluates thousands of data points, creates an XML 'report', and then sends that report to a central office via FTP or SMTP/email. One application doing such daily reports was creating over 800K worth of temporary sorted lists of historical data. Piggy-backing gc.collect() on such daily chores has the nice side-effect of running it once per day for 'free'.
* Consider manually running garbage collection either before or after timing-critical sections of code to prevent garbage collection from disturbing the timing. As example, an irrigation application might sit idle for 10 minutes, then evaluate the status of all field devices and make adjustments. Since delays during system adjustment might affect field device battery life, it makes sense to manually run garbage collection as the gateway is entering the idle period AFTER the adjustment process - or run it every sixth or tenth idle period. This insures that garbage collection won't be triggered automatically during the next timing-sensitive period.

Ref: http://www.digi.com/wiki/developer/index.php/Python_Garbage_Collection

In [27]:
gc.collect()

855

# 5. Get column's name and a data type of each column for the small file.
## 5.1 Prepare the small-sized dataframe for the initial table. 
i.e. <span class="burk">import >10000 rows from the csv file</span> to get the correct data type of the column in pandas.

In [7]:
#data = pd.read_csv('nyc311calls_small.csv', encoding = 'utf-8')
data = pd.read_csv(file_names[1], nrows = 7000, encoding = 'utf-8')
#data.columns.values
#sorted(data.columns.values)

**Notice**: There are the space in column names. To avoid the hassle in MySQL and Sqlite, it is preferable to use the <span class="mark">column names without spaces</span>.

## 5.2. Remove spaces in column names.

In [26]:
data = data.rename(columns={c: c.replace(' ', '_') for c in data.columns})
data.columns.values

array(['Unique_Key', 'Created_Date', 'Closed_Date', 'Agency',
       'Agency_Name', 'Complaint_Type', 'Descriptor', 'Location_Type',
       'Incident_Zip', 'Incident_Address', 'Street_Name', 'Cross_Street_1',
       'Cross_Street_2', 'Intersection_Street_1', 'Intersection_Street_2',
       'Address_Type', 'City', 'Landmark', 'Facility_Type', 'Status',
       'Due_Date', 'Resolution_Description',
       'Resolution_Action_Updated_Date', 'Community_Board', 'Borough',
       'X_Coordinate_(State_Plane)', 'Y_Coordinate_(State_Plane)',
       'Park_Facility_Name', 'Park_Borough', 'School_Name',
       'School_Number', 'School_Region', 'School_Code',
       'School_Phone_Number', 'School_Address', 'School_City',
       'School_State', 'School_Zip', 'School_Not_Found',
       'School_or_Citywide_Complaint', 'Vehicle_Type',
       'Taxi_Company_Borough', 'Taxi_Pick_Up_Location',
       'Bridge_Highway_Name', 'Bridge_Highway_Direction', 'Road_Ramp',
       'Bridge_Highway_Segment', 'Garage_Lot_Name', 'Ferry_Direction',
       'Ferry_Terminal_Name', 'Latitude', 'Longitude', 'Location'], dtype=object)

<b><span class="burk">IMPORTANT</span></b>
* data.info() give the appropriate row number of the data file, which will be used to create the initial table. 
* Data type of pandas for the column with no record gives the wrong data type.
  - Ex. Data type of 'Ferry_Direction' with 100 lines importing is 'float64'. In this case, 'Ferry_Direction' column has no record as seen data.info(). 
  - However, with importing 7000 lines, data type of 'Ferry_Direction' in pandas is 'object', which is the correct data type.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 53 columns):
Unique_Key                        7000 non-null int64
Created_Date                      7000 non-null object
Closed_Date                       6506 non-null object
Agency                            7000 non-null object
Agency_Name                       7000 non-null object
Complaint_Type                    7000 non-null object
Descriptor                        6987 non-null object
Location_Type                     6825 non-null object
Incident_Zip                      6940 non-null object
Incident_Address                  6161 non-null object
Street_Name                       6159 non-null object
Cross_Street_1                    6172 non-null object
Cross_Street_2                    6171 non-null object
Intersection_Street_1             687 non-null object
Intersection_Street_2             687 non-null object
Address_Type                      6810 non-null object
City                              6949 non-null object
Landmark                          8 non-null object
Facility_Type                     1343 non-null object
Status                            7000 non-null object
Due_Date                          2712 non-null object
Resolution_Description            6986 non-null object
Resolution_Action_Updated_Date    6975 non-null object
Community_Board                   7000 non-null object
Borough                           7000 non-null object
X_Coordinate_(State_Plane)        6906 non-null float64
Y_Coordinate_(State_Plane)        6906 non-null float64
Park_Facility_Name                7000 non-null object
Park_Borough                      7000 non-null object
School_Name                       7000 non-null object
School_Number                     7000 non-null object
School_Region                     6962 non-null object
School_Code                       6962 non-null object
School_Phone_Number               7000 non-null object
School_Address                    7000 non-null object
School_City                       7000 non-null object
School_State                      7000 non-null object
School_Zip                        7000 non-null object
School_Not_Found                  2697 non-null object
School_or_Citywide_Complaint      11 non-null object
Vehicle_Type                      17 non-null object
Taxi_Company_Borough              17 non-null object
Taxi_Pick_Up_Location             95 non-null object
Bridge_Highway_Name               81 non-null object
Bridge_Highway_Direction          81 non-null object
Road_Ramp                         81 non-null object
Bridge_Highway_Segment            81 non-null object
Garage_Lot_Name                   13 non-null object
Ferry_Direction                   1 non-null object
Ferry_Terminal_Name               2 non-null object
Latitude                          6906 non-null float64
Longitude                         6906 non-null float64
Location                          6906 non-null object
dtypes: float64(4), int64(1), object(48)
memory usage: 2.8+ MB

In [97]:
data.isnull().sum()

Unique_Key                           0
Created_Date                         0
Closed_Date                        494
Agency                               0
Agency_Name                          0
Complaint_Type                       0
Descriptor                          13
Location_Type                      175
Incident_Zip                        60
Incident_Address                   839
Street_Name                        841
Cross_Street_1                     828
Cross_Street_2                     829
Intersection_Street_1             6313
Intersection_Street_2             6313
Address_Type                       190
City                                51
Landmark                          6992
Facility_Type                     5657
Status                               0
Due_Date                          4288
Resolution_Description              14
Resolution_Action_Updated_Date      25
Community_Board                      0
Borough                              0
X_Coordinate_(State_Plane)          94
Y_Coordinate_(State_Plane)          94
Park_Facility_Name                   0
Park_Borough                         0
School_Name                          0
School_Number                        0
School_Region                       38
School_Code                         38
School_Phone_Number                  0
School_Address                       0
School_City                          0
School_State                         0
School_Zip                           0
School_Not_Found                  4303
School_or_Citywide_Complaint      6989
Vehicle_Type                      6983
Taxi_Company_Borough              6983
Taxi_Pick_Up_Location             6905
Bridge_Highway_Name               6919
Bridge_Highway_Direction          6919
Road_Ramp                         6919
Bridge_Highway_Segment            6919
Garage_Lot_Name                   6987
Ferry_Direction                   6999
Ferry_Terminal_Name               6998
Latitude                            94
Longitude                           94
Location                            94
dtype: int64

In [98]:
data.head(5)

,Unique_Key,Created_Date,Closed_Date,Agency,Agency_Name,Complaint_Type,Descriptor,Location_Type,Incident_Zip,Incident_Address,...,Bridge_Highway_Name,Bridge_Highway_Direction,Road_Ramp,Bridge_Highway_Segment,Garage_Lot_Name,Ferry_Direction,Ferry_Terminal_Name,Latitude,Longitude,Location
0,19816436,02/11/2011 12:00:00 AM,02/12/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,10029,1747 LEXINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.793881,-73.945072,"(40.793881125121544, -73.94507211811336)"
1,19816437,02/11/2011 12:00:00 AM,03/04/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11218,200 EAST 8 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.645375,-73.972001,"(40.64537466770449, -73.97200080893171)"
2,19816438,02/12/2011 12:00:00 AM,02/16/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-SUPPLY,RESIDENTIAL BUILDING,11212,1068 WINTHROP STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.661267,-73.924204,"(40.66126734932739, -73.92420394711726)"
3,19816439,02/11/2011 12:00:00 AM,02/14/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,NONCONST,SMOKE-FUMES,RESIDENTIAL BUILDING,10474,846 HUNTS POINT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817563,-73.888526,"(40.8175629801979, -73.88852631695842)"
4,19816440,02/11/2011 12:00:00 AM,02/28/2011 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,CONSTRUCTION,ROOF,RESIDENTIAL BUILDING,11216,1480 BEDFORD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672573,-73.954394,"(40.67257255181025, -73.95439353624742)"

## 5.3. Create database and connect to Sqlite

### 5.3.1  sqllite3
<span class="mark">SQLite3 comes with support of DATE and TIMESTAMP (datetime) type</span>s
```
USAGE:
import sqlite3

conn_sqlite3 = sqlite3.connect('database_name.db', detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)
sql = """SELECT *
         FROM table_name
         LIMIT 5       
      """
cursor = conn_sqlite3.cursor()
try:
    cursor.execute(sql)
    return cursor.fetchall()
finally:
    cursor.close()
```

In [4]:
import sqlite3

conn_sqlite3 = sqlite3.connect('nyc311calls_small.db', detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)

### 5.3.2. sqlalchemy

In [15]:
# create and connect
engine = create_engine('sqlite:///nyc311calls_small.db')
conn_alchemy = engine.connect()
#conn_alchemy.execute(sql_query)
#df = pd.read_sql_query(sql_query, conn_alchemy)
#df = pd.read_sql_query(sql_query, engine)

### 5.3.3. sql magic

In [11]:
# load a sql magic
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
# connect to a database
%sql sqlite:///nyc311calls_small.db

'Connected: None@nyc311calls_small.db'

## 5.4. Loading the csv file to Sqlite
<b>Approach 1</b>: Data process in pandas and load data from pandas to Sqlite.
   * Pro: Data process is easy in pandas.
   * Cons: The process is slow and it takes lots of time to load data to Sqlite.
   
<b>Approach 2</b>: Load the csv file directly to Sqlite using odo module and process the table in Sqlite. 
   * Pro: It is very quick to load the csv file to Sqlite. 
   * Cons: Data process should be done in Sqlite and it requires to know SQL language.
   * It does not work with the csv file containing the mixed data types in column.
   
<b>Approach 3</b>: Load the csv file directly to Sqlte with .import in shell mode.
   * It does not work.
<b>Approach 4</b>: Use csv2sqlte.py.
   * Ref : https://tentacles666.wordpress.com/2014/11/14/python-creating-a-sqlite3-database-from-csv-files/
   
<b>Approach 5</b>: http://www.xavierdupre.fr/app/pyensae/helpsphinx/notebooks/pyensae_flat2db3.html

### 5.4.1 Approach 1

**Load the data chunk-by-chunk**.

In [5]:
file_names

['nyc311calls.csv', 'nyc311calls_small.csv']

**To read/write Datetime and timestamp records between Sqlite and pandas, "<span class="burk">conn_sqlite3 = sqlite3.connect('nyc311calls_small.db', detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)</span>" should be used**.

In [6]:
start = dt.datetime.now()
chunksize = 50000 # chunksize : row number to process
j = 0
index_start = 1

for df in pd.read_csv(file_names[1], chunksize=chunksize, iterator=True, parse_dates=['Created Date','Closed Date'], encoding='utf-8'):    
    df = df.rename(columns={c: c.replace(' ', '_') for c in df.columns}) # Replace spaces from columns to '_'

    #df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
    #df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])

    df.index += index_start

    # Remove the un-interesting columns
    #columns = ['Agency', 'ComplaintType', 'Descriptor',
    #           'CreatedDate', 'ClosedDate', 'TimeToCompletion', 'City']

    #for c in df.columns:
    #    if c not in columns:
    #        df = df.drop(c, axis=1)    
    
    j+=1
    print('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))

    df.to_sql('data', conn_sqlite3, if_exists='append')
    index_start = df.index[-1] + 1

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

36 seconds: completed 50000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

78 seconds: completed 100000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

120 seconds: completed 150000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,39,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

161 seconds: completed 200000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

204 seconds: completed 250000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

242 seconds: completed 300000 rows
284 seconds: completed 350000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

329 seconds: completed 400000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8,17,18,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

374 seconds: completed 450000 rows

C:\A_Hyun\Programming\Python\WinPython-64bit-3.5.2.2Qt5\python-3.5.2.amd64\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (17,39,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

426 seconds: completed 500000 rows

### 5.4.1.2. Check the created table in Sqlite
**Show schema in database**: <span class="mark">No schema</span>

In [6]:
%sql SELECT name FROM sqlite_master WHERE type='schema';

Done.

[]

**Show the name of table**: 
Table name : <span class="mark">data</span>

In [7]:
%sql SELECT name FROM sqlite_master WHERE type='table';

Done.

[('data',)]

<b>Show the structure of databas and column's names in database</b>

In [22]:
%sql select * from sqlite_master

Done.

[('table', 'data', 'data', 2, 'CREATE TABLE data (\n\t"index" BIGINT, \n\t"Unique_Key" BIGINT, \n\t"Created_Date" DATETIME, \n\t"Closed_Date" DATETIME, \n\t"Agency" TEXT, \n\t"Agen ... (1207 characters truncated) ... arage_Lot_Name" TEXT, \n\t"Ferry_Direction" TEXT, \n\t"Ferry_Terminal_Name" TEXT, \n\t"Latitude" FLOAT, \n\t"Longitude" FLOAT, \n\t"Location" TEXT\n)'),
 ('index', 'ix_data_index', 'data', 4, 'CREATE INDEX ix_data_index ON data ("index")')]

**Show the data types of columns in the table**

In [8]:
# Data type of columns in table
%sql PRAGMA table_info(data)
#%sql SHOW FIELDS FROM data.data

Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Unique_Key', 'INTEGER', 0, None, 0),
 (2, 'Created_Date', 'TIMESTAMP', 0, None, 0),
 (3, 'Closed_Date', 'TIMESTAMP', 0, None, 0),
 (4, 'Agency', 'TEXT', 0, None, 0),
 (5, 'Agency_Name', 'TEXT', 0, None, 0),
 (6, 'Complaint_Type', 'TEXT', 0, None, 0),
 (7, 'Descriptor', 'TEXT', 0, None, 0),
 (8, 'Location_Type', 'TEXT', 0, None, 0),
 (9, 'Incident_Zip', 'TEXT', 0, None, 0),
 (10, 'Incident_Address', 'TEXT', 0, None, 0),
 (11, 'Street_Name', 'TEXT', 0, None, 0),
 (12, 'Cross_Street_1', 'TEXT', 0, None, 0),
 (13, 'Cross_Street_2', 'TEXT', 0, None, 0),
 (14, 'Intersection_Street_1', 'TEXT', 0, None, 0),
 (15, 'Intersection_Street_2', 'TEXT', 0, None, 0),
 (16, 'Address_Type', 'TEXT', 0, None, 0),
 (17, 'City', 'TEXT', 0, None, 0),
 (18, 'Landmark', 'TEXT', 0, None, 0),
 (19, 'Facility_Type', 'TEXT', 0, None, 0),
 (20, 'Status', 'TEXT', 0, None, 0),
 (21, 'Due_Date', 'TEXT', 0, None, 0),
 (22, 'Resolution_Description', 'TEXT', 0, None, 0),
 (23, 'Resolution_Action_Updated_Date', 'TEXT', 0, None, 0),
 (24, 'Community_Board', 'TEXT', 0, None, 0),
 (25, 'Borough', 'TEXT', 0, None, 0),
 (26, 'X_Coordinate_(State_Plane)', 'REAL', 0, None, 0),
 (27, 'Y_Coordinate_(State_Plane)', 'REAL', 0, None, 0),
 (28, 'Park_Facility_Name', 'TEXT', 0, None, 0),
 (29, 'Park_Borough', 'TEXT', 0, None, 0),
 (30, 'School_Name', 'TEXT', 0, None, 0),
 (31, 'School_Number', 'TEXT', 0, None, 0),
 (32, 'School_Region', 'TEXT', 0, None, 0),
 (33, 'School_Code', 'TEXT', 0, None, 0),
 (34, 'School_Phone_Number', 'TEXT', 0, None, 0),
 (35, 'School_Address', 'TEXT', 0, None, 0),
 (36, 'School_City', 'TEXT', 0, None, 0),
 (37, 'School_State', 'TEXT', 0, None, 0),
 (38, 'School_Zip', 'TEXT', 0, None, 0),
 (39, 'School_Not_Found', 'TEXT', 0, None, 0),
 (40, 'School_or_Citywide_Complaint', 'TEXT', 0, None, 0),
 (41, 'Vehicle_Type', 'TEXT', 0, None, 0),
 (42, 'Taxi_Company_Borough', 'TEXT', 0, None, 0),
 (43, 'Taxi_Pick_Up_Location', 'TEXT', 0, None, 0),
 (44, 'Bridge_Highway_Name', 'TEXT', 0, None, 0),
 (45, 'Bridge_Highway_Direction', 'TEXT', 0, None, 0),
 (46, 'Road_Ramp', 'TEXT', 0, None, 0),
 (47, 'Bridge_Highway_Segment', 'TEXT', 0, None, 0),
 (48, 'Garage_Lot_Name', 'TEXT', 0, None, 0),
 (49, 'Ferry_Direction', 'TEXT', 0, None, 0),
 (50, 'Ferry_Terminal_Name', 'TEXT', 0, None, 0),
 (51, 'Latitude', 'REAL', 0, None, 0),
 (52, 'Longitude', 'REAL', 0, None, 0),
 (53, 'Location', 'TEXT', 0, None, 0)]

In [10]:
%sql SELECT * FROM data LIMIT 5

Done.

[(1, 19816436, '2011-02-11 00:00:00.000000', '2011-02-12 00:00:00.000000', 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '10029', '1747 LEXINGTON AVENUE', 'LEXINGTON AVENUE', 'EAST 108 STREET', 'EAST 109 STREET', None, None, 'ADDRESS', 'NEW YORK', None, None, 'Closed', None, 'The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists, please file a new complaint.', '02/12/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 999459.0, 228514.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', None, None, None, None, None, None, None, None, None, None, None, None, 40.79388112512153, -73.94507211811336, '(40.793881125121544, -73.94507211811336)'),
 (2, 19816437, '2011-02-11 00:00:00.000000', '2011-03-04 00:00:00.000000', 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '11218', '200 EAST 8 STREET', 'EAST 8 STREET', 'CHURCH AVENUE', 'TURNER PLACE', None, None, 'ADDRESS', 'BROOKLYN', None, None, 'Closed', None, 'The Department of Housing Preservation and Development was not able to gain access to inspect the following conditions. The complaint has been closed. If the condition still exists, please file a new complaint.', '03/04/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 992020.0, 174405.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', None, None, None, None, None, None, None, None, None, None, None, None, 40.645374667704495, -73.97200080893171, '(40.64537466770449, -73.97200080893171)'),
 (3, 19816438, '2011-02-12 00:00:00.000000', '2011-02-16 00:00:00.000000', 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '11212', '1068 WINTHROP STREET', 'WINTHROP STREET', 'EAST 94 STREET', 'EAST 95 STREET', None, None, 'ADDRESS', 'BROOKLYN', None, None, 'Closed', None, 'The Department of Housing Preservation and Development inspected the following conditions. No violations were issued. The complaint has been closed.', '02/16/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 1005279.0, 180203.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', None, None, None, None, None, None, None, None, None, None, None, None, 40.661267349327396, -73.92420394711726, '(40.66126734932739, -73.92420394711726)'),
 (4, 19816439, '2011-02-11 00:00:00.000000', '2011-02-14 00:00:00.000000', 'HPD', 'Department of Housing Preservation and Development', 'NONCONST', 'SMOKE-FUMES', 'RESIDENTIAL BUILDING', '10474', '846 HUNTS POINT AVENUE', 'HUNTS POINT AVENUE', 'COSTER STREET', 'GILBERT PLACE', None, None, 'ADDRESS', 'BRONX', None, None, 'Closed', None, 'The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists, please file a new complaint.', '02/14/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 1015105.0, 237157.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', None, None, None, None, None, None, None, None, None, None, None, None, 40.8175629801979, -73.88852631695842, '(40.8175629801979, -73.88852631695842)'),
 (5, 19816440, '2011-02-11 00:00:00.000000', '2011-02-28 00:00:00.000000', 'HPD', 'Department of Housing Preservation and Development', 'CONSTRUCTION', 'ROOF', 'RESIDENTIAL BUILDING', '11216', '1480 BEDFORD AVENUE', 'BEDFORD AVENUE', 'STERLING PLACE', "ST JOHN'S PLACE", None, None, 'ADDRESS', 'BROOKLYN', None, None, 'Closed', None, 'The Department of Housing Preservation and Development was not able to gain access to inspect the following conditions. The complaint has been closed. If the condition still exists, please file a new complaint.', '02/28/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 996901.0, 184316.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', None, None, None, None, None, None, None, None, None, None, None, None, 40.67257255181025, -73.95439353624742, '(40.67257255181025, -73.95439353624742)')]

### 5.4.1.3. Delete all records but the talbe keep their data types.

In [86]:
%sql DELETE FROM data

500000 rows affected.

[]

In [43]:
%sql SELECT * FROM yul_test.nyc311test LIMIT 2

0 rows affected.

[]

## 5.4.1.4. Test 
### 5.4.1.4.1. Reading datetime/timestamp in Sqlite to pandas.

In [10]:
sql_query = """
               SELECT Created_Date, Closed_Date
               FROM data
               LIMIT 5
            """
cursor = conn_sqlite3.cursor()
cursor.execute(sql_query)
print(cursor.fetchone())
#conn_sqlite3.close()

(datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 12, 0, 0))

In [9]:
df = pd.read_sql_query("""SELECT Created_Date, Closed_Date
                          FROM data LIMIT 5
                       """, conn_sqlite3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
Created_Date    5 non-null datetime64[ns]
Closed_Date     5 non-null datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 160.0 bytes

In [15]:
df.Closed_Date - df.Created_Date

0    1 days
1   21 days
2    4 days
3    3 days
4   17 days
dtype: timedelta64[ns]

In [17]:
gc.collect()   # garbarge collector

387

### 5.4.1.4.2 Count empty strings.
* In pandas, the empty strings was converted to NaN values, which are converted to NULL values in Sqlite.

In [34]:
%%sql
SELECT COUNT(*) - COUNT(City)
FROM data

Done.

[(5172,)]

In [37]:
%%sql 
SELECT COUNT(*) - COUNT(Intersection_Street_1)
FROM data

Done.

[(448478,)]

**In Sqlite, it seems that 'None' means NULL**.

In [41]:
%%sql
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
LIMIT 5

Done.

[('2011-02-11 00:00:00', '2011-02-12 00:00:00', None),
 ('2011-02-11 00:00:00', '2011-03-04 00:00:00', None),
 ('2011-02-12 00:00:00', '2011-02-16 00:00:00', None),
 ('2011-02-11 00:00:00', '2011-02-14 00:00:00', None),
 ('2011-02-11 00:00:00', '2011-02-28 00:00:00', None)]

```
SELECT * FROM x WHERE y ISNULL;
SELECT * FROM x WHERE y NOTNULL;
SELECT * FROM x WHERE y IS NULL;
SELECT * FROM x WHERE y NOT NULL;
SELECT * FROM x WHERE y IS NOT NULL;
```

In [51]:
%%sql 
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Intersection_Street_1 NOT NULL
LIMIT 5

Done.

[('2011-02-15 07:50:08', '2011-02-15 13:19:29', '53 STREET'),
 ('2011-02-16 15:45:53', '2011-02-22 08:34:17', 'UNDERHILL AVENUE'),
 ('2011-02-16 17:49:29', '2011-02-24 14:54:33', '29 ROAD'),
 ('2011-02-16 12:23:56', '2011-03-28 08:25:12', 'BASSETT AVENUE'),
 ('2011-02-16 18:17:14', '2011-02-18 10:51:24', '28 STREET')]

In [40]:
%%sql 
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Intersection_Street_1 IS NOT NULL
LIMIT 5

Done.

[('2011-02-15 07:50:08', '2011-02-15 13:19:29', '53 STREET'),
 ('2011-02-16 15:45:53', '2011-02-22 08:34:17', 'UNDERHILL AVENUE'),
 ('2011-02-16 17:49:29', '2011-02-24 14:54:33', '29 ROAD'),
 ('2011-02-16 12:23:56', '2011-03-28 08:25:12', 'BASSETT AVENUE'),
 ('2011-02-16 18:17:14', '2011-02-18 10:51:24', '28 STREET')]

In [50]:
%%sql
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Intersection_Street_1 NOTNULL
LIMIT 5

Done.

[('2011-02-15 07:50:08', '2011-02-15 13:19:29', '53 STREET'),
 ('2011-02-16 15:45:53', '2011-02-22 08:34:17', 'UNDERHILL AVENUE'),
 ('2011-02-16 17:49:29', '2011-02-24 14:54:33', '29 ROAD'),
 ('2011-02-16 12:23:56', '2011-03-28 08:25:12', 'BASSETT AVENUE'),
 ('2011-02-16 18:17:14', '2011-02-18 10:51:24', '28 STREET')]

**In Sqlite, "column_name = NULL" does not do anything**.

In [45]:
%%sql
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Closed_Date = NULL
LIMIT 5

Done.

[]

In [44]:
%%sql
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Closed_Date IS NULL
LIMIT 5

Done.

[('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None)]

In [49]:
%%sql
SELECT Created_Date, Closed_Date, Intersection_Street_1
FROM data
WHERE Closed_Date ISNULL
LIMIT 5

Done.

[('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None),
 ('2011-02-11 00:00:00', None, None)]

**Importing a timestamp column with sql magic lose the data type of the timestamp in pandas**.

In [52]:
start = dt.datetime.now()
data = %sql SELECT Created_Date, City FROM data
df = data.DataFrame()
df.isnull().values.sum()
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

Done.
4 seconds: completed

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 2 columns):
Created_Date    500000 non-null object
City            494828 non-null object
dtypes: object(2)
memory usage: 7.6+ MB

### In sql query, convert empty strings in column to NULL values

In [58]:
start = dt.datetime.now()
conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """
                 UPDATE yul_test.nyc311test SET Location = NULL WHERE Location = ''
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

1520 seconds: completed

### In pandas, count the number of empty string (' ')
This is much slower than doing with sql query (1 second)

In [43]:
start = dt.datetime.now()
data = %sql SELECT City FROM yul_test.nyc311test
df = data.DataFrame()
np.count_nonzero(df.apply(lambda x: x==''))
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

500000 rows affected.
14 seconds: completed

### Garbage Collector to release unreferenced memory

In [5]:
gc.collect()

14

## 5.4.2. Approach 2 with odo module
Convert the string to datetime in pandas

Convert two columns together

In [8]:
from odo import odo, discover, resource, dshape

In [5]:
file_names

['nyc311calls.csv', 'nyc311calls_small.csv']

In [6]:
discover(resource('nyc311calls_small.csv'))

dshape("""var * {
  'Unique Key': int64,
  'Created Date': ?datetime,
  'Closed Date': ?datetime,
  Agency: ?string,
  'Agency Name': ?string,
  'Complaint Type': ?string,
  Descriptor: ?string,
  'Location Type': ?string,
  'Incident Zip': ?float64,
  'Incident Address': ?string,
  'Street Name': ?string,
  'Cross Street 1': ?string,
  'Cross Street 2': ?string,
  'Intersection Street 1': ?string,
  'Intersection Street 2': ?string,
  'Address Type': ?string,
  City: ?string,
  Landmark: ?string,
  'Facility Type': ?string,
  Status: ?string,
  'Due Date': ?datetime,
  'Resolution Description': ?string,
  'Resolution Action Updated Date': ?datetime,
  'Community Board': ?string,
  Borough: ?string,
  'X Coordinate (State Plane)': ?float64,
  'Y Coordinate (State Plane)': ?float64,
  'Park Facility Name': ?string,
  'Park Borough': ?string,
  'School Name': ?string,
  'School Number': ?string,
  'School Region': ?string,
  'School Code': ?string,
  'School Phone Number': ?string,
  'School Address': ?string,
  'School City': ?string,
  'School State': ?string,
  'School Zip': ?string,
  'School Not Found': ?string,
  'School or Citywide Complaint': ?string,
  'Vehicle Type': ?string,
  'Taxi Company Borough': ?string,
  'Taxi Pick Up Location': ?string,
  'Bridge Highway Name': ?string,
  'Bridge Highway Direction': ?string,
  'Road Ramp': ?string,
  'Bridge Highway Segment': ?string,
  'Garage Lot Name': ?string,
  'Ferry Direction': ?string,
  'Ferry Terminal Name': ?string,
  Latitude: ?float64,
  Longitude: ?float64,
  Location: ?string
  }""")

In [9]:
ds =dshape("""var * {
  'Unique Key': int64,
  'Created Date': datetime,
  'Closed Date': datetime,
  Agency: string,
  'Agency Name': string,
  'Complaint Type': string,
  Descriptor: string,
  'Location Type': string,
  'Incident Zip': float64,
  'Incident Address': string,
  'Street Name': string,
  'Cross Street 1': string,
  'Cross Street 2': string,
  'Intersection Street 1': string,
  'Intersection Street 2': string,
  'Address Type': string,
  City: string,
  Landmark: string,
  'Facility Type': string,
  Status: string,
  'Due Date': datetime,
  'Resolution Description': string,
  'Resolution Action Updated Date': datetime,
  'Community Board': string,
  Borough: string,
  'X Coordinate (State Plane)': float64,
  'Y Coordinate (State Plane)': float64,
  'Park Facility Name': string,
  'Park Borough': string,
  'School Name': string,
  'School Number': string,
  'School Region': string,
  'School Code': string,
  'School Phone Number': string,
  'School Address': string,
  'School City': string,
  'School State': string,
  'School Zip': string,
  'School Not Found': string,
  'School or Citywide Complaint': string,
  'Vehicle Type': string,
  'Taxi Company Borough': string,
  'Taxi Pick Up Location': string,
  'Bridge Highway Name': string,
  'Bridge Highway Direction': string,
  'Road Ramp': string,
  'Bridge Highway Segment': string,
  'Garage Lot Name': string,
  'Ferry Direction': string,
  'Ferry Terminal Name': string,
  Latitude: float64,
  Longitude: float64,
  Location: string
  }""")

<span class="mark">Due to the out of memory, chrome was crashed. I guess that it occurs due to the mixed data type in columns. 
The "2015-citibike-tripdata.csv" worked well with odo module. But this csv file does not work with odo module.</span> Even though I set the specific data type of each column, it does not work.

In [ ]:
start = dt.datetime.now()
odo('nyc311calls_small.csv', 'sqlite:///nyc_odo.db::nyc', dshape=ds, has_header=True)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

### 5.4.3 .import in shell

To import from an SQL file use the following:
```
sqlite> .read <filename>
```
To import from a CSV file you will need to specify the file type and destination table:
```
sqlite> .mode csv <table>
sqlite> .import <filename> <table>
```

It does not work too.

### 5.4.4 csv2sqlite.py

In [ ]:
from __future__ import print_function
import sqlite3
import csv
import os
import glob
import sys
 
db = sys.argv[1]
 
conn = sqlite3.connect(db)
conn.text_factory = str  # allows utf-8 data to be stored
 
c = conn.cursor()
 
# traverse the directory and process each .csv file
for csvfile in glob.glob(os.path.join(sys.argv[2], "*.csv")):
    # remove the path and extension and use what's left as a table name
    tablename = os.path.splitext(os.path.basename(csvfile))[0]
 
    with open(csvfile, "rb") as f:
        reader = csv.reader(f)
 
        header = True
        for row in reader:
            if header:
                # gather column names from the first row of the csv
                header = False
 
                sql = "DROP TABLE IF EXISTS %s" % tablename
                c.execute(sql)
                sql = "CREATE TABLE %s (%s)" % (tablename,
                          ", ".join([ "%s text" % column for column in row ]))
                c.execute(sql)
 
                for column in row:
                    if column.lower().endswith("_id"):
                        index = "%s__%s" % ( tablename, column )
                        sql = "CREATE INDEX %s on %s (%s)" % ( index, tablename, column )
                        c.execute(sql)
 
                insertsql = "INSERT INTO %s VALUES (%s)" % (tablename,
                            ", ".join([ "?" for column in row ]))
 
                rowlen = len(row)
            else:
                # skip lines that don't have the right number of columns
                if len(row) == rowlen:
                    c.execute(insertsql, row)
 
        conn.commit()
 
c.close()
conn.close()

Convert each column

In [219]:
%sql PRAGMA table_info(nyc311calls_small_odo)

31 seconds: completed

In [220]:
start = dt.datetime.now()
conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """               
              ALTER TABLE yul_test.nyc311test 
              CHANGE COLUMN Created_Date Created_Date DATETIME NULL DEFAULT NULL
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

53 seconds: completed

In [226]:
start = dt.datetime.now()
conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """
              UPDATE yul_test.nyc311test
              SET
                 Closed_Date = STR_TO_DATE(Closed_Date, '%m/%d/%Y %h:%i:%s %p')
              WHERE 
                 STR_TO_DATE(Closed_Date, '%m/%d/%Y %h:%i:%s %p') <> '0000-00-00 00:00:00' 
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

20 seconds: completed

In [227]:
start = dt.datetime.now()
conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """               
              ALTER TABLE yul_test.nyc311test 
              CHANGE COLUMN Closed_Date Closed_Date DATETIME NULL DEFAULT NULL
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

68 seconds: completed

**Check data typs of the table**

In [228]:
%sql SHOW FIELDS FROM yul_test.nyc311test

53 rows affected.

[('Unique_Key', 'bigint(20)', 'YES', '', None, ''),
 ('Created_Date', 'datetime', 'YES', '', None, ''),
 ('Closed_Date', 'datetime', 'YES', '', None, ''),
 ('Agency', 'text', 'YES', '', None, ''),
 ('Agency_Name', 'text', 'YES', '', None, ''),
 ('Complaint_Type', 'text', 'YES', '', None, ''),
 ('Descriptor', 'text', 'YES', '', None, ''),
 ('Location_Type', 'text', 'YES', '', None, ''),
 ('Incident_Zip', 'text', 'YES', '', None, ''),
 ('Incident_Address', 'text', 'YES', '', None, ''),
 ('Street_Name', 'text', 'YES', '', None, ''),
 ('Cross_Street_1', 'text', 'YES', '', None, ''),
 ('Cross_Street_2', 'text', 'YES', '', None, ''),
 ('Intersection_Street_1', 'text', 'YES', '', None, ''),
 ('Intersection_Street_2', 'text', 'YES', '', None, ''),
 ('Address_Type', 'text', 'YES', '', None, ''),
 ('City', 'text', 'YES', '', None, ''),
 ('Landmark', 'text', 'YES', '', None, ''),
 ('Facility_Type', 'text', 'YES', '', None, ''),
 ('Status', 'text', 'YES', '', None, ''),
 ('Due_Date', 'text', 'YES', '', None, ''),
 ('Resolution_Description', 'text', 'YES', '', None, ''),
 ('Resolution_Action_Updated_Date', 'text', 'YES', '', None, ''),
 ('Community_Board', 'text', 'YES', '', None, ''),
 ('Borough', 'text', 'YES', '', None, ''),
 ('X_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Y_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Park_Facility_Name', 'text', 'YES', '', None, ''),
 ('Park_Borough', 'text', 'YES', '', None, ''),
 ('School_Name', 'text', 'YES', '', None, ''),
 ('School_Number', 'text', 'YES', '', None, ''),
 ('School_Region', 'text', 'YES', '', None, ''),
 ('School_Code', 'text', 'YES', '', None, ''),
 ('School_Phone_Number', 'text', 'YES', '', None, ''),
 ('School_Address', 'text', 'YES', '', None, ''),
 ('School_City', 'text', 'YES', '', None, ''),
 ('School_State', 'text', 'YES', '', None, ''),
 ('School_Zip', 'text', 'YES', '', None, ''),
 ('School_Not_Found', 'text', 'YES', '', None, ''),
 ('School_or_Citywide_Complaint', 'text', 'YES', '', None, ''),
 ('Vehicle_Type', 'text', 'YES', '', None, ''),
 ('Taxi_Company_Borough', 'text', 'YES', '', None, ''),
 ('Taxi_Pick_Up_Location', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Name', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Direction', 'text', 'YES', '', None, ''),
 ('Road_Ramp', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Segment', 'text', 'YES', '', None, ''),
 ('Garage_Lot_Name', 'text', 'YES', '', None, ''),
 ('Ferry_Direction', 'text', 'YES', '', None, ''),
 ('Ferry_Terminal_Name', 'text', 'YES', '', None, ''),
 ('Latitude', 'double', 'YES', '', None, ''),
 ('Longitude', 'double', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, '')]

In [229]:
%sql SELECT * FROM yul_test.nyc311test LIMIT 10

10 rows affected.

[(19816436, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 12, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '10029', '1747 LEXINGTON AVENUE', 'LEXINGTON AVENUE', 'EAST 108 STREET', 'EAST 109 STREET', '', '', 'ADDRESS', 'NEW YORK', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '02/12/2011 12:00:00 AM', '0 Unspecified', None, 999459.0, '228514', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.793881125121544, '-73.94507211811336'),
 (19816437, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 3, 4, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '11218', '200 EAST 8 STREET', 'EAST 8 STREET', 'CHURCH AVENUE', 'TURNER PLACE', '', '', 'ADDRESS', 'BROOKLYN', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development was not able to gain access to inspect the following conditions. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '03/04/2011 12:00:00 AM', '0 Unspecified', None, 992020.0, '174405', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.64537466770449, '-73.97200080893171'),
 (19816438, datetime.datetime(2011, 2, 12, 0, 0), datetime.datetime(2011, 2, 16, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'PLUMBING', 'WATER-SUPPLY', 'RESIDENTIAL BUILDING', '11212', '1068 WINTHROP STREET', 'WINTHROP STREET', 'EAST 94 STREET', 'EAST 95 STREET', '', '', 'ADDRESS', 'BROOKLYN', '', 'N/A', 'Closed', '', 'The Department of Housing Preservation and Development inspected the following conditions. No violations were issued. The complaint has been closed.', '02/16/2011 12:00:00 AM', '0 Unspecified', 'Unspecified', 1005279.0, 180203.0, 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', '', 40.66126734932739, -73.92420394711726, '"(40.66126734932739'),
 (19816439, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 14, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'NONCONST', 'SMOKE-FUMES', 'RESIDENTIAL BUILDING', '10474', '846 HUNTS POINT AVENUE', 'HUNTS POINT AVENUE', 'COSTER STREET', 'GILBERT PLACE', '', '', 'ADDRESS', 'BRONX', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '02/14/2011 12:00:00 AM', '0 Unspecified', None, 1015105.0, '237157', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.8175629801979, '-73.88852631695842'),
 (19816440, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 28, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'CONSTRUCTION', 'ROOF', 'RESIDENTIAL BUILDING', '11216', '1480 BEDFORD AVENUE', 'BEDFORD AVENUE', 'STERLING PLACE', "ST JOHN'S PLACE", '', '', 'ADDRESS', 'BROOKLYN', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development was not able to gain access to inspect the following conditions. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '02/28/2011 12:00:00 AM', '0 Unspecified', None, 996901.0, '184316', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.67257255181025, '-73.95439353624742'),
 (19816442, datetime.datetime(2011, 2, 11, 16, 43, 27), datetime.datetime(2011, 2, 22, 14, 16, 32), 'DOT', 'Department of Transportation', 'Sidewalk Condition', 'Blocked - ATM', 'Sidewalk', '10018', '300 WEST 38 STREET', 'WEST 38 STREET', '8 AVENUE', '9 AVENUE', '', '', 'ADDRESS', 'NEW YORK', '', 'N/A', 'Closed', '03/13/2011 04:43:27 PM', 'The Department of Transportation inspected the condition and issued a notice to the responsible party to correct the condition.', '02/22/2011 02:16:32 PM', '04 MANHATTAN', 'MANHATTAN', 986449.0, 214300.0, 'Unspecified', 'MANHATTAN', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'N', '', '', '', '', '', '', '', '', '', '', '', 40.754880236932095, -73.99206287822823, '"(40.754880236932095'),
 (19816443, datetime.datetime(2011, 2, 11, 16, 40, 14), datetime.datetime(2011, 2, 22, 14, 17, 36), 'DOT', 'Department of Transportation', 'Sidewalk Condition', 'Blocked - ATM', 'Sidewalk', '10018', '538 9 AVENUE', '9 AVENUE', 'WEST 39 STREET', 'WEST 40 STREET', '', '', 'ADDRESS', 'NEW YORK', '', 'N/A', 'Closed', '03/13/2011 04:40:14 PM', 'The Department of Transportation inspected the condition and issued a notice to the responsible party to correct the condition.', '02/22/2011 02:17:36 PM', '04 MANHATTAN', 'MANHATTAN', 985998.0, 215055.0, 'Unspecified', 'MANHATTAN', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'N', '', '', '', '', '', '', '', '', '', '', '', 40.756952620316085, -73.99369053183185, '"(40.756952620316085'),
 (19816476, datetime.datetime(2011, 2, 11, 10, 27, 6), datetime.datetime(2011, 2, 15, 17, 10, 13), 'DOT', 'Department of Transportation', 'Sidewalk Condition', 'Blocked - ATM', 'Sidewalk', '10306', '1138 SOUTH RAILROAD AVENUE', 'SOUTH RAILROAD AVENUE', 'LINCOLN AVENUE', 'FREMONT AVENUE', '', '', 'ADDRESS', 'STATEN ISLAND', '', 'N/A', 'Closed', '03/05/2011 10:37:37 PM', 'The Department of Transportation inspected the condition and issued a notice to the responsible party to correct the condition.', '02/15/2011 05:09:36 PM', '02 STATEN ISLAND', 'STATEN ISLAND', 953943.0, 150302.0, 'Unspecified', 'STATEN ISLAND', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'N', '', '', '', '', '', '', '', '', '', '', '', 40.57916850498574, -74.10910302764817, '"(40.57916850498574'),
 (19816477, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 28, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'APPLIANCE', 'ELECTRIC/GAS-RANGE', 'RESIDENTIAL BUILDING', '10457', '333 EAST 181 STREET', 'EAST 181 STREET', 'VALENTINE AVENUE', 'TIEBOUT AVENUE', '', '', 'ADDRESS', 'BRONX', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development was not able to gain access to inspect the following conditions. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '02/28/2011 12:00:00 AM', '0 Unspecified', None, 1012220.0, '250421', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.85397840556349, '-73.8988939938161'),
 (19816478, datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 15, 0, 0), 'HPD', 'Department of Housing Preservation and Development', 'APPLIANCE', 'ELECTRIC/GAS-RANGE', 'RESIDENTIAL BUILDING', '11236', '1511 EAST 98 STREET', 'EAST 98 STREET', 'AVENUE M', 'AVENUE N', '', '', 'ADDRESS', 'BROOKLYN', '', 'N/A', 'Closed', '', '"The Department of Housing Preservation and Development contacted an occupant of the apartment and verified that the following conditions were corrected. The complaint has been closed. If the condition still exists', ' please file a new complaint."', '02/15/2011 12:00:00 AM', '0 Unspecified', None, 1014416.0, '171236', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', 'Unspecified', '', '', '', '', '', '', '', '', '', '', '', None, 40.63662848257888, '-73.8913110554287')]

## 6.4 Add Auto-Increment ID to existing table as the first column
If the table has the column as the primary key, first you have to remove the primary key of the table
```
ALTER TABLE nametable DROP PRIMARY KEY
```
and now yo can add the autoincrement ...
```
ALTER TABLE nametable ADD id INT NOT NULL AUTO_INCREMENT PRIMARY KEY
```

In [50]:
start = dt.datetime.now()
%sql ALTER TABLE yul_test.nyc311test ADD COLUMN `id` INT AUTO_INCREMENT UNIQUE FIRST
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
%sql SHOW FIELDS FROM yul_test.nyc311test

0 rows affected.
56 seconds: completed
55 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('Unique_Key', 'bigint(20)', 'YES', '', None, ''),
 ('Created_Date', 'datetime', 'YES', '', None, ''),
 ('Closed_Date', 'datetime', 'YES', '', None, ''),
 ('delta_t', 'int(11)', 'YES', '', None, ''),
 ('Agency', 'text', 'YES', '', None, ''),
 ('Agency_Name', 'text', 'YES', '', None, ''),
 ('Complaint_Type', 'text', 'YES', '', None, ''),
 ('Descriptor', 'text', 'YES', '', None, ''),
 ('Location_Type', 'text', 'YES', '', None, ''),
 ('Incident_Zip', 'text', 'YES', '', None, ''),
 ('Incident_Address', 'text', 'YES', '', None, ''),
 ('Street_Name', 'text', 'YES', '', None, ''),
 ('Cross_Street_1', 'text', 'YES', '', None, ''),
 ('Cross_Street_2', 'text', 'YES', '', None, ''),
 ('Intersection_Street_1', 'text', 'YES', '', None, ''),
 ('Intersection_Street_2', 'text', 'YES', '', None, ''),
 ('Address_Type', 'text', 'YES', '', None, ''),
 ('City', 'text', 'YES', '', None, ''),
 ('Landmark', 'text', 'YES', '', None, ''),
 ('Facility_Type', 'text', 'YES', '', None, ''),
 ('Status', 'text', 'YES', '', None, ''),
 ('Due_Date', 'text', 'YES', '', None, ''),
 ('Resolution_Description', 'text', 'YES', '', None, ''),
 ('Resolution_Action_Updated_Date', 'text', 'YES', '', None, ''),
 ('Community_Board', 'text', 'YES', '', None, ''),
 ('Borough', 'text', 'YES', '', None, ''),
 ('X_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Y_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Park_Facility_Name', 'text', 'YES', '', None, ''),
 ('Park_Borough', 'text', 'YES', '', None, ''),
 ('School_Name', 'text', 'YES', '', None, ''),
 ('School_Number', 'text', 'YES', '', None, ''),
 ('School_Region', 'text', 'YES', '', None, ''),
 ('School_Code', 'text', 'YES', '', None, ''),
 ('School_Phone_Number', 'text', 'YES', '', None, ''),
 ('School_Address', 'text', 'YES', '', None, ''),
 ('School_City', 'text', 'YES', '', None, ''),
 ('School_State', 'text', 'YES', '', None, ''),
 ('School_Zip', 'text', 'YES', '', None, ''),
 ('School_Not_Found', 'text', 'YES', '', None, ''),
 ('School_or_Citywide_Complaint', 'text', 'YES', '', None, ''),
 ('Vehicle_Type', 'text', 'YES', '', None, ''),
 ('Taxi_Company_Borough', 'text', 'YES', '', None, ''),
 ('Taxi_Pick_Up_Location', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Name', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Direction', 'text', 'YES', '', None, ''),
 ('Road_Ramp', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Segment', 'text', 'YES', '', None, ''),
 ('Garage_Lot_Name', 'text', 'YES', '', None, ''),
 ('Ferry_Direction', 'text', 'YES', '', None, ''),
 ('Ferry_Terminal_Name', 'text', 'YES', '', None, ''),
 ('Latitude', 'double', 'YES', '', None, ''),
 ('Longitude', 'double', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, '')]

# Done, 2016-11-16

# Test Efficiencey

## Test 1. Time difference

In [6]:
start = dt.datetime.now()
df = pd.read_sql_query("""
                          SELECT Created_Date, Closed_Date  
                          FROM yul_test.nyc311test 
                       """, engine)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

20 seconds: completed

In [7]:
start = dt.datetime.now()
time = %sql SELECT Created_Date, Closed_Date FROM yul_test.nyc311test
df = time.DataFrame()
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

500000 rows affected.
21 seconds: completed

**Conclusion : Reading data from MySQL to pandas with read_sql_query() and magic sql dose not have the difference. **

In [22]:
start = dt.datetime.now()
data = %sql SELECT TIMESTAMPDIFF(SECOND, Created_Date, Closed_Date) AS delta_t FROM yul_test.nyc311test
df = data.DataFrame()
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
df.head(5)

500000 rows affected.
12 seconds: completed

     delta_t
0    86400.0
1  1814400.0
2   345600.0
3   259200.0
4  1468800.0

In [23]:
start = dt.datetime.now()
data = %sql SELECT Created_Date, Closed_Date FROM yul_test.nyc311test
df = data.DataFrame()
df['delta'] = df['Closed_Date'] - df['Created_Date']
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
df.head(5)

500000 rows affected.
21 seconds: completed

  Created_Date Closed_Date   delta
0   2011-02-11  2011-02-12  1 days
1   2011-02-11  2011-03-04 21 days
2   2011-02-12  2011-02-16  4 days
3   2011-02-11  2011-02-14  3 days
4   2011-02-11  2011-02-28 17 days

Conclusion: Calculation in MySQL and importing the result to pandas is faster than importing data to pandas and calculation in pandas. But for the future use, the later is better approach.

In [100]:
%sql SHOW FIELDS FROM yul_test.nyc311test

55 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('Unique_Key', 'bigint(20)', 'YES', '', None, ''),
 ('Created_Date', 'datetime', 'YES', '', None, ''),
 ('Closed_Date', 'datetime', 'YES', '', None, ''),
 ('delta_t', 'int(11)', 'YES', '', None, ''),
 ('Agency', 'text', 'YES', '', None, ''),
 ('Agency_Name', 'text', 'YES', '', None, ''),
 ('Complaint_Type', 'text', 'YES', '', None, ''),
 ('Descriptor', 'text', 'YES', '', None, ''),
 ('Location_Type', 'text', 'YES', '', None, ''),
 ('Incident_Zip', 'text', 'YES', '', None, ''),
 ('Incident_Address', 'text', 'YES', '', None, ''),
 ('Street_Name', 'text', 'YES', '', None, ''),
 ('Cross_Street_1', 'text', 'YES', '', None, ''),
 ('Cross_Street_2', 'text', 'YES', '', None, ''),
 ('Intersection_Street_1', 'text', 'YES', '', None, ''),
 ('Intersection_Street_2', 'text', 'YES', '', None, ''),
 ('Address_Type', 'text', 'YES', '', None, ''),
 ('City', 'text', 'YES', '', None, ''),
 ('Landmark', 'text', 'YES', '', None, ''),
 ('Facility_Type', 'text', 'YES', '', None, ''),
 ('Status', 'text', 'YES', '', None, ''),
 ('Due_Date', 'text', 'YES', '', None, ''),
 ('Resolution_Description', 'text', 'YES', '', None, ''),
 ('Resolution_Action_Updated_Date', 'text', 'YES', '', None, ''),
 ('Community_Board', 'text', 'YES', '', None, ''),
 ('Borough', 'text', 'YES', '', None, ''),
 ('X_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Y_Coordinate_(State_Plane)', 'double', 'YES', '', None, ''),
 ('Park_Facility_Name', 'text', 'YES', '', None, ''),
 ('Park_Borough', 'text', 'YES', '', None, ''),
 ('School_Name', 'text', 'YES', '', None, ''),
 ('School_Number', 'text', 'YES', '', None, ''),
 ('School_Region', 'text', 'YES', '', None, ''),
 ('School_Code', 'text', 'YES', '', None, ''),
 ('School_Phone_Number', 'text', 'YES', '', None, ''),
 ('School_Address', 'text', 'YES', '', None, ''),
 ('School_City', 'text', 'YES', '', None, ''),
 ('School_State', 'text', 'YES', '', None, ''),
 ('School_Zip', 'text', 'YES', '', None, ''),
 ('School_Not_Found', 'text', 'YES', '', None, ''),
 ('School_or_Citywide_Complaint', 'text', 'YES', '', None, ''),
 ('Vehicle_Type', 'text', 'YES', '', None, ''),
 ('Taxi_Company_Borough', 'text', 'YES', '', None, ''),
 ('Taxi_Pick_Up_Location', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Name', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Direction', 'text', 'YES', '', None, ''),
 ('Road_Ramp', 'text', 'YES', '', None, ''),
 ('Bridge_Highway_Segment', 'text', 'YES', '', None, ''),
 ('Garage_Lot_Name', 'text', 'YES', '', None, ''),
 ('Ferry_Direction', 'text', 'YES', '', None, ''),
 ('Ferry_Terminal_Name', 'text', 'YES', '', None, ''),
 ('Latitude', 'double', 'YES', '', None, ''),
 ('Longitude', 'double', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, '')]

```
start = dt.datetime.now()
pd.read_sql_query("""
                     ALTER TABLE yul_test.nyc311test
                     ADD delta_t INTEGER AFTER Closed_Date
                  """, engine)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
```
The above sql query occured the following error message:
```
ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 18))
```
This sql query can not give back to the result. Thus, this kind of sql query can be used with pd.read_sql_query(). The connection type below should be used:
```
start = dt.datetime.now()
#conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
#engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """               
              ALTER TABLE yul_test.nyc311test
              ADD delta_t INTEGER AFTER Closed_Date;
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
```
<b>Note</b>
1. <span class="mark">pandas.read_sql_query() give the result back to pandas</span>. The sql query expecting no result back should not be used with read_sql_query().
2. In this case, use sql magic or conn.execute() type.

In [41]:
# use sqlalchemy
start = dt.datetime.now()
#conn_str = "mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql"
#engine = create_engine(conn_str)
conn = engine.connect()
sql_command = """               
              ALTER TABLE yul_test.nyc311test
              ADD delta_t INTEGER AFTER Closed_Date;
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

23 seconds: completed

### Calculate the time difference in MySQL
1. 23524 row has the wrong record : '2011-02-19 15:59:58', '1900-01-01 00:00:00'. It occurs the error message of "Out of range value for column 'delta_t' at row 23524".
2. There are 8 wrong records in 'Closed_Date'.

In [99]:
start = dt.datetime.now()
conn = engine.connect()
sql_command = """ 
                 UPDATE yul_test.nyc311test
                 SET delta_t = TIMESTAMPDIFF(SECOND, Created_Date, Closed_Date)
              """
conn.execute(sql_command)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

30 seconds: completed

#### Delete the specific column in MySQL

In [40]:
start = dt.datetime.now()
%sql ALTER TABLE yul_test.nyc311test DROP COLUMN delta_t2;
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

0 rows affected.
27 seconds: completed

#### Delete the specific row in MySQL

In [93]:
%%sql
DELETE FROM yul_test.nyc311test
WHERE DATE(Closed_Date) < '2000-01-01 00:00:00'

8 rows affected.

[]

In [97]:
start = dt.datetime.now()
cnx = mysql.connector.connect(**config_mysqlconn)
cursor = cnx.cursor()
sql_command = """ 
                 SELECT id, Created_Date, Closed_Date
                 FROM yul_test.nyc311test
                 WHERE DATE(Closed_Date) < '2000-01-01 00:00:00'
              """
df = pd.read_sql_query(sql_command, cnx)
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
df

0 seconds: completed

Empty DataFrame
Columns: [id, Created_Date, Closed_Date]
Index: []

In [65]:
%%sql
SELECT Created_Date, Closed_Date
FROM yul_test.nyc311test
LIMIT 23520, 5;

5 rows affected.

[('2011-02-19 15:42:47', '2011-02-22 10:33:57'),
 ('2011-02-19 07:13:29', '2011-02-22 06:43:42'),
 ('2011-02-19 18:54:43', '2011-02-20 07:11:05'),
 ('2011-02-19 15:59:58', '1900-01-01 00:00:00'),
 ('2011-02-19 10:06:54', '2011-03-02 10:38:06')]

In [101]:
%sql SELECT Created_Date, Closed_Date, delta_t FROM yul_test.nyc311test LIMIT 5

5 rows affected.

[(datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 12, 0, 0), 86400),
 (datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 3, 4, 0, 0), 1814400),
 (datetime.datetime(2011, 2, 12, 0, 0), datetime.datetime(2011, 2, 16, 0, 0), 345600),
 (datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 14, 0, 0), 259200),
 (datetime.datetime(2011, 2, 11, 0, 0), datetime.datetime(2011, 2, 28, 0, 0), 1468800)]

### Calculate time difference in pandas.

In [105]:
start = dt.datetime.now()
sql_query = """
               SELECT Created_Date, Closed_Date
               FROM yul_test.nyc311test
            """
df = pd.read_sql_query(sql_query, conn)
df['delta'] = df.Closed_Date - df.Created_Date
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))
df.head(5)

21 seconds: completed

  Created_Date Closed_Date   delta
0   2011-02-11  2011-02-12  1 days
1   2011-02-11  2011-03-04 21 days
2   2011-02-12  2011-02-16  4 days
3   2011-02-11  2011-02-14  3 days
4   2011-02-11  2011-02-28 17 days

In [106]:
%sql SELECT COUNT(*) FROM yul_test.nyc311test

1 rows affected.

[(499992,)]

### The below is the code which is supposed to convert all empty string in table to NULL values but it was not tested.
Ref : http://stackoverflow.com/questions/3238319/how-do-i-change-all-empty-strings-to-null-in-a-table

In [30]:
%%sql
DROP PROCEDURE IF EXISTS settonull;

DELIMITER //

CREATE PROCEDURE settonull()
BEGIN
  DECLARE done INT DEFAULT FALSE;
  DECLARE _tablename VARCHAR(255);
  DECLARE _columnname VARCHAR(255);
  DECLARE cur1 CURSOR FOR SELECT 
                           CONCAT(TABLE_SCHEMA, '.', TABLE_NAME) AS table_name,
                           COLUMN_NAME AS column_name 
                           FROM information_schema.COLUMNS 
                           WHERE IS_NULLABLE = 'YES' 
                           AND TABLE_SCHEMA IN ('table1', 'table2', 'table3');

  DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = TRUE;

  OPEN cur1;

  read_loop: LOOP
    FETCH cur1 INTO _tablename, _columnname;

    IF done THEN
      LEAVE read_loop;
    END IF;

    SET @s = CONCAT('UPDATE ', _tablename, ' SET ', _columnname, ' = NULL WHERE LENGTH(TRIM(', _columnname, ')) = 0' );
    PREPARE stmt FROM @s;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;

  END LOOP;

  CLOSE cur1;
END//

DELIMITER ;

CALL settonull();

0 rows affected.
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DELIMITER //

CREATE PROCEDURE settonull()
BEGIN
  DECLARE done INT DEFAULT FALS' at line 1 [SQL: "DELIMITER //\n\nCREATE PROCEDURE settonull()\nBEGIN\n  DECLARE done INT DEFAULT FALSE;\n  DECLARE _tablename VARCHAR(255);\n  DECLARE _columnname VARCHAR(255);\n  DECLARE cur1 CURSOR FOR SELECT \n                           CONCAT(TABLE_SCHEMA, '.', TABLE_NAME) AS table_name,\n                           COLUMN_NAME AS column_name \n                           FROM information_schema.COLUMNS \n                           WHERE IS_NULLABLE = 'YES' \n                           AND TABLE_SCHEMA IN ('table1', 'table2', 'table3');\n\n  DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = TRUE;\n\n  OPEN cur1;\n\n  read_loop: LOOP\n    FETCH cur1 INTO _tablename, _columnname;\n\n    IF done THEN\n      LEAVE read_loop;\n    END IF;\n\n    SET @s = CONCAT('UPDATE ', _tablename, ' SET ', _columnname, ' = NULL WHERE LENGTH(TRIM(', _columnname, ')) = 0' );\n    PREPARE stmt FROM @s;\n    EXECUTE stmt;\n    DEALLOCATE PREPARE stmt;\n\n  END LOOP;\n\n  CLOSE cur1;\nEND//\n\nDELIMITER ;\n\nCALL settonull();"]

%%sql
DELETE FROM yul_test.bike2015trip
LIMIT 2

## Loading  csv files in MySQL with odo package

In [11]:
from odo import odo

In [12]:
import pymysql

In [15]:
# mysql+mysqlconnector://root:PbxIn1-xSe5320@localhost:3306/mysql
# 'mysql+pymysql://localhost/test::nyc'
start = dt.datetime.now()
odo('nyc311calls_small.csv', 'mysql+pymysql://root:PbxIn1-xSe5320@localhost/yul_test::nyc311_odo')
print('{} seconds: completed'.format((dt.datetime.now() - start).seconds))

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'X_Coordinate_(State_Plane)' at row 256") [SQL: 'LOAD DATA  INFILE %(path)s\n            INTO TABLE nyc311_odo\n            CHARACTER SET %(encoding)s\n            FIELDS\n                TERMINATED BY %(delimiter)s\n                ENCLOSED BY %(quotechar)s\n                ESCAPED BY %(escapechar)s\n            LINES TERMINATED BY %(lineterminator)s\n            IGNORE %(skiprows)s LINES\n            '] [parameters: {'path': 'C:\\A_Hyun\\Data\\Data_Science\\Data_Incubator\\2015_10_29_Q\\csv\\nyc311calls_small.csv', 'escapechar': '\\', 'quotechar': '"', 'lineterminator': '\r\n', 'delimiter': ',', 'encoding': 'utf8', 'skiprows': 1}]

Conclusion : odo package does not handle empty fields. Right now, it is useless if the csv file has empty fields.